node_modules/
.env
servidor.txt
server.log
server-error.log
server.err.log
npm-debug.log*
*.backup
operaciones_backup_*.json
Lista_cliente.xlsx
tmp/
tools/jasper/target/
*.traineddata
CAJA CIERRE.xlsx
